.container {
    display: flex;
    justify-content: space-between;
    @include mobile {
        padding: vw_mobile(20);
        margin-top: vw_mobile(120);
    }
    @include pc {
        padding: vw_pc(20) vw_pc(40);
        margin-top: vw_pc(120);
    }
    .row {
        @include mobile {
            margin: 0 auto;
        }
        @include pc {
            display: flex;
        }
        .column {
            @include mobile {
            }
            @include pc {
                padding: 0 vw_pc(50);
            }
            &:first-of-type {
                padding-left: 0;
            }
            li {
                cursor: pointer;
                @include mobile {
                    text-align: center;
                    padding: vw_mobile(10);
                    @include font-size_mobile(18);
                }
                @include pc {
                    border-right: 1px solid $black;
                    padding: vw_pc(10) 0;
                    padding-right: vw_pc(80);
                    @include font-size_pc(18);
                }
            }
        }
    }
    .logoArea {
        .logoSVG {
            @include mobile {
            }
            @include pc {
                width: vw_pc(150);
            }
        }
    }
}
