/* Reboot
--------------------------------------------------------------*/

$body-bg: #101010 !default;
$body-color: #D9D9D9 !default;

$link-color: #D9D9D9 !default;
$link-decoration: none !default;
$link-hover-color: #D9D9D9 !default;
$link-hover-decoration: none !default;

$text-muted: #2C2C2C !default;

$pathFont: 'assets/fonts/';

$baseFontSize: 16;

$baseScreenWidthPc: 1200;
$thresholdScreenWidth: 820;
$baseScreenWidthMobile: 428;

$baseScreenWidthPc: 1200;
$thresholdScreenWidth: 800;
$baseScreenWidthMobile: 428;

/* Own variables
--------------------------------------------------------------*/

// color
$cream: #FDF7F0;
$white: #FCFCFC;
$yellow: #FFB219;
$black: #31322C;
$dark-black: #121212;
$gray: rgba(0,0,0,0.4);
$light-gray: #868686;
$red: #DF1111;
$green: #45c74b;
$blue: #0000FF;
$light-blue: rgb(130, 130, 251);
$dark-blue: rgb(81, 81, 151);

// border
$border-black: #31322C;
$border-light-gray: #CCCCCC;

// background
$background-black: #31322C;
$background-red: #E25A74;
$background-cream: #FBF4E6;
$background-yellow: #FFB219;
$background-dark-gray: #1a1a1a;
$background-gray: #868686;
$background-light-gray: #E6E6E6;
$background-green: #42858C;
$background-white: #f6f6f6;
$background-blue: blue;
$background-dark-blue: blue;

//transparent
$transparent-black: rgba(0,0,0,0.3);


// font-weight
$light: 200;
$medium: 400;
$bold: 700;
$superbold: 900;
