.container {
    transition: color 0.5s, opacity 0.5s, background-color 0.5s;
    display: flex;
    .sideBar {
        @include mobile {
            display: none;
        }
        @include pc {
            width: vw_pc(140);
        }
    }
    .content {
        position: relative;
        @include mobile {

        }
        @include pc {
            width: calc(100vw - vw_pc(140));
        }
        .top {
            width: 100%;
            height: 100vh;
            // filter: contrast(270%) brightness(100%);
            // background:
            //   linear-gradient(180deg, rgba(70,77,255,1), rgba(0,0,0,0)),
            //   url("data:image/svg+xml,%3Csvg viewBox='0 0 #{100vw} #{vw_pc(1250)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
            .keyvisual {
                p {
                    position: absolute;
                    @include centerXY;
                    color: $light-gray;
                }
            }
            .bottom {
                position: absolute;
                bottom: 0;
                width: 100%;
                @include mobile {
                    padding: vw_mobile(20);
                }
                @include pc {
                    padding: vw_pc(60);
                }
                p {
                    @include pc {
                        @include font-size_pc(30);
                        line-height: vw_pc(45);
                    }
                    @include mobile {
                        @include font-size_mobile(30);
                        line-height: vw_mobile(45);
                    }
                }
            }
        }
    }
}


