.container {
  .news {
      @include pc {
      }
      .new {
        //   @include box-shadow(0rem 0.05rem 1rem 0.1rem rgba(3, 3, 3, 0.05));
          background-color: white;
          display: block;
          @include mobile {
          }
          @include pc {
              margin-bottom: vw_pc(12);
              border-radius: vw_pc(10);
              width: 100%;
              padding: vw_pc(18);
          }
          &:first-of-type {
              margin-left: 0;
          }
          &:last-of-type {
              margin-right: 0;
          }
          .top {
              display: flex;
              align-items: center;
              .date {
                  background-color: $background-light-gray;
                  font-family: 'Poppins', sans-serif;
                  color: $light-gray;
                  @include mobile {
                  }
                  @include pc {
                      margin-right: vw_pc(15);
                      border-radius: 50em;
                      @include font-size_pc(12);
                      line-height: vw_pc(20);
                      padding: vw_pc(2) vw_pc(10);
                  }
              }
              .title {
                  font-weight: $bold;
                  color: $black;
                  @include mobile {
                      @include font-size_mobile(24);
                  }
                  @include pc {
                      @include font-size_pc(16);
                  }
              }
          }
          .bottom {
                  @include mobile {
                      margin-top: vw_mobile(8);
                  }
                  @include pc {
                      margin-top: vw_pc(8);
                  }
              .content {
                  @include mobile {
                      @include font-size_mobile(14);
                  }
                  @include pc {
                      @include font-size_pc(14);
                      line-height: vw_pc(24);
                  }
              }
          }
      }
  }
}
