.container {
    .items {
        display: flex;
        position: relative;
        overflow: hidden;
        .imageCover {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: vw_pc(480);
            background-color: $transparent-black;
            display: flex;
            .copy {
                position: absolute;
                @include mobile {
                    bottom: vw_mobile(40);
                    left: vw_mobile(40);
                }
                @include pc {
                    bottom: vw_pc(40);
                    left: vw_pc(40);
                }
                .copyContent {
                    color: $white;
                    line-height: 1.4;
                    font-weight: $bold;
                    @include mobile {
                    }
                    @include pc {
                        @include font-size_pc(50);
                    }
                }
            }
            .buttonArea {
                .button {
                    position: absolute;
                    @include mobile {
                    }
                    @include pc {
                        right: vw_pc(40);
                        bottom: vw_pc(40);
                    }
                }
            }
        }
        .item {
            position: relative;
            .imageWrapper {
                position: relative;
                @include mobile {
                    width: vw_mobile(100);
                    height: vw_mobile(200);
                }
                @include pc {
                    width: vw_pc(220);
                    height: vw_pc(480);
                }
                width: 100px;
            }
        }
    }
}
